html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


.contenedor{


    max-width: 1100px;
    border : 2px solid red;
    height: auto !important;
    min-height: 100%;
    margin: 0 auto -300px;
    

}



body {

    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
   
   
}


.piedepagina {
   
    background-color:black;
    color:white;
    bottom: 0;
    margin-top:20px !important;
    min-height: 300px;
    clear: both;
}



@media all and (max-width: 991px) {


  .navbar-brand {

        
        margin: 0 auto !important;
        

    }

 .menu3 {


      display:none;
      

  }


}

@media all and (min-width: 992px){


    .botonMenu{


        display:none;


    }


}


.Menulateral {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
 /*   transition: 0.5s;*/
    padding-top: 60px;
}


.Menulateral a {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  /*  transition: 0.3s;*/
}

.Menulateral .botoncerrar {

    font-size:38px;
    position:absolute;
    top:0 ;
    right:10px;


}

.dropdown-menu> li> a:hover{


    color:black;


}

 .menu4 >li > a{

    font-size:16px;


}

 .Menulateral .menu4 {


    position:absolute !important;
    right:0 !important;

}




.Menulateral a:hover {

    color: #f1f1f1;
}

.mensaje1 {

    text-align:center;
    overflow:hidden;
    display: inline-block;
    white-space: nowrap;
    transform: translateX(100%);
    animation: floatText 15s infinite linear;
    
}



@keyframes floatText{

    0%{


        transform:translateX(100%);

    }
    100%{


        transform: translateX(-100%);

    }


}



.buscadormenulateral{

    margin-left:12px;
    margin-top:8px;
    font-size:16px;

}

.carrito{

    color:white;
    font-size:25px;
    margin-top: -5px;
    

}




.slide img{


    height:62vh;

}




/*.carousel-inner .item {
    height: 500px;
    background-size: cover;
    background-position: center center;
}*/



/*.carousel .carousel-item {

    height: 500px;
    
}*/

/*.carousel-item img {

    position:absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height:500px;
}*/